// Colors
$backdrop: rgb(52, 166, 251);
$lava: rgb(255, 100, 100);
$wall: white;
$coin: rgb(241, 229, 89);
$player: rgb(241, 229, 89);

html {
  body {
    margin: 0;
    padding: 0;

    .game {
      overflow: hidden;
      max-width: 800px;
      max-height: 450px;
      position: relative;

      margin: 10vh auto;
    }

    .background {
      background: $backdrop;
      table-layout: fixed;
      border-spacing: 0;

      td { padding: 0 }
    }

    .lava   { background: $lava }
    .wall   { background: $wall }
    .actor  { position: absolute; }
    .coin   { background: $coin }
    .player { background: pink }

    .lost .player {
      background: rgb(160, 64, 64);
    }

    .won .player {
      box-shadow: -4px -7px 8px white, 4px -7px 8px white;
    }
  }
}
